<app-nav></app-nav>

<main role="main">
  <section class="jumbotron text-center bg-light py-5 mt-5">
    <div class="container">
      <p class="lead text-muted">
        El objetivo de esta prueba es evaluar tus habilidades para desarrollar
        un microservicio en Node.js con Express que se conecte a una base de
        datos PostgreSQL y exponga datos que serán consumidos por un frontend en
        Angular, que permita crear o modificar los registros.
      </p>
    </div>
  </section>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <app-user-list></app-user-list>
      </div>
      <div class="col-md-6">
        <app-user-form></app-user-form>
      </div>
    </div>
  </div>
</main>
